$buttons: #f5f5f5f1;
$buttons-hover: #c5c5c5f1;
$operators: #faa629;
$operators-hover: #f3960a;

.Button {
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: $buttons;
  margin: 1.5px;
  border: none;

  &:hover {
    background-color: $buttons-hover;
  }

  &:active {
    background-color: $buttons;
  }
}
.operator {
  background-color: $operators;

  &:hover {
    background-color: $operators-hover;
  }

  &:active {
    background-color: #ff8c00;
  }
}
