.Display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  text-align: right;

  .topValues {
    font-size: 1.25rem;
    word-break: break-all;
    font-weight: 200;

    @media (max-width: 280px) {
      font-size: 1.25rem !important;
    }
  }

  .bottomValue {
    font-weight: 300;
    @media (max-width: 280px) {
      font-size: 1.5rem !important;
    }
  }
}
