$top-values: rgb(255, 165, 0);

.Display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  text-align: right;

  @media (max-width: 1000px) and (orientation: landscape) {
    padding: 5px 10px;
  }

  .topValues {
    font-size: 1.125rem;
    word-break: break-all;
    font-weight: 400;
    color: $top-values;
  }

  .bottomValue {
    font-weight: 300;
    @media (max-width: 1000px) and (orientation: landscape) {
    }
  }
}
